@layer fonts {
  /* kumbh-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/kumbh-sans-v26-latin/kumbh-sans-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kumbh-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/kumbh-sans-v26-latin/kumbh-sans-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --fs-44: calc(44 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-15: calc(15 / 16 * 1rem);
    --fs-13: calc(13 / 16 * 1rem);
    --fs-12: calc(12 / 16 * 1rem);
  }

  h1 {
    font-size: var(--fs-28);

    @media (width >= calc(700 / 16 * 1rem)) {
        font-size: var(--fs-44);
    }
  }

  body {
    font-size: var(--fs-15);

    @media (width >= calc(700 / 16 * 1rem)) {
        font-size: var(--fs-16);
    }
  }

  h4 {
    font-size: var(--fs-12);
    letter-spacing: 1.85px;

    @media (width >= calc(700 / 16 * 1rem)){
        font-size: var(--fs-13);
        letter-spacing: 2px;
    }
  }

  h2 {
    font-size: var(--fs-28);
  }

  h3 {
    font-size: var(--fs-16);
  }


}

@layer colors {
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-black: #000000;
    --c-grey950: hsl(220, 13%, 13%);
    --c-grey500: hsl(219, 9%, 45%);
    --c-grey300: hsl(221, 22%, 81%);
    --c-grey100: hsl(219, 35%, 92%);
    --c-grey50: hsl(223, 64%, 98%);
    --c-orange100: hsl(26, 100%, 55%);
    --c-orange300: hsl(26, 100%, 71%);
  }
}

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 50vh;
    /* temporary */
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3, h4 {
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.1;
    font-weight: 700;
  }

  p {
    line-height: 1.3;
  }

  a {
    text-decoration: none;
  }

  header ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.mySlides {
  /* display: none; */
}

